GLOCALCART_SMTP_HOST=smtp.gmail.com
GLOCALCART_SMTP_PORT=587
GLOCALCART_SMTP_ENABLE_SSL=true
GLOCALCART_SMTP_USERNAME=your-gmail@gmail.com
GLOCALCART_SMTP_PASSWORD=your-gmail-app-password
GLOCALCART_SMTP_FROM_EMAIL=your-gmail@gmail.com
GLOCALCART_SMTP_FROM_NAME=GlocalCart
